<!DOCTYPE html>
<html>
<head>
  <title>FlexiAdmin Test</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# Bootstrap CSS via CDN %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">

  <%# Custom component styles %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%# JavaScript from esbuild output %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <%# Bootstrap JS Bundle (includes Popper) %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand navbar-light bg-light border-bottom mb-3 px-3">
    <span class="navbar-brand">FlexiAdmin</span>
    <div class="navbar-nav">
      <%= link_to 'Users', admin_users_path, class: 'nav-link' %>
      <%= link_to 'Autocomplete', admin_test_autocomplete_path, class: 'nav-link' %>
      <%= link_to 'Form Fields', admin_test_form_fields_path, class: 'nav-link' %>
    </div>
  </nav>

  <div class="container-fluid">
    <%# Toast container for flash messages %>
    <div id="toasts" class="toast-container position-fixed top-0 end-0 p-3"></div>

    <div id="system"></div>

    <%= yield %>
  </div>
</body>
</html>
