<!DOCTYPE html>
<html>
<head>
  <title>FlexiAdmin Test</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# Stylesheet from esbuild output %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%# JavaScript from esbuild output %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <div id="toasts"></div>
  <%= yield %>
</body>
</html>
